<mat-toolbar color="primary">
  </mat-toolbar>

<router-outlet></router-outlet>
<mat-toolbar color="black">

    <mat-toolbar-row>
      <span>W E L C O M E TO {{title}}!</span>
      <button mat-raised-button  class="menu-button" [routerLink]="['/car-list']">Car List</button>
      <button mat-raised-button  class="menu-button" [routerLink]="['/owner-list']">Owner List</button>
      <button mat-raised-button  class="menu-button" [routerLink]="['/car-add']">Add a car</button>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <router-outlet></router-outlet>
